@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap');

.colr{
  color:blanchedalmond !important;
}

.cardStyle{
  max-width: 18rem;
}

.wid{
  
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wd{
width:500px;
}

.listStyle{
  display: flex;
 
 
}

.pad{
  padding:5px;
 
}

.licol{
  text-decoration: none !important;
  color:white !important;
  list-style: none !important;
}

.bt{
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.remlis{
  text-decoration: none !important;
  color:gray !important;
 
}

.remlis :hover{
  text-decoration: none !important;
  color:blue !important;
 
}

.st{
  width:100px;
  height: 100px;
}

.cent{
 margin-bottom: 10px;
}